
/* General */

body a {
  color: #D22341;
}

body a:hover {
  color: #D22341;
  text-decoration: underline;
}

/* Navigation Bar */

.multunus-header {
  background-color: #202020;
  padding: 0;
  margin: 0;
  border: 0;
}

.multunus-header .navbar-brand {
  background-color: #D22341;
  padding: 12px 6px 6px 6px;
  height: 65px;
  margin: 0;
}

.multunus-header .navbar-brand:hover {
  background-color: #D22341;
}

.multunus-header.navbar-default .navbar-nav {
  padding-top: 7px;
}

.multunus-header.navbar-default ul.navbar-nav {
  margin-left: 10px;
}

.multunus-header.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-size:.92em;
  padding: 15px 20px 15px 5px;
}

.multunus-header.navbar-default .navbar-nav > li.multunus-slash > a {
  background: transparent url("../images/slash.gif") no-repeat right;
}

.multunus-header.navbar-default .navbar-nav.navbar-right > li > a {
  font-size: 1.05em;
}

.multunus-header.navbar-default .navbar-nav > li > a:hover {
  color: #D22341;
}

/* Video Section */

.multunus-video {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  position: relative;
}

.multunus-video-overlay-message {
  position: absolute;
  top:25%;
  width:100%;
}

.multunus-video-header {
  color: #FFF;
  padding: 0;
  border: 0;
}

.multunus-video.container .multunus-video-overlay-message .btn.multunus-video-btn {
  margin-top: 20px;
  background-color: #d22341;
  width:180px;
  height: 60px;
  position: relative;
}

.multunus-video.container .multunus-video-overlay-message .btn.multunus-video-btn:hover {
  background-color: #B01732;
}

.multunus-video.container .multunus-video-overlay-message .btn.multunus-video-btn .multunus-video-btn-text {
  position:absolute;
  top:20%;
  margin-left:8px;
  font-size: 1.5em;
}

.multunus-video-btn.btn-primary{
  border:0;
  box-shadow: 2px 2px 2px #000;
}

/* Big Picture Section */

.big-picture-section .big-picture-column {
  color:#333333;
  padding: 0;
}

.big-picture-section .big-picture-title h2 {
  font-size: 2.5em;
}

.big-picture-section .big-picture-text div {
  font-size: 2em;
}

/* Services Section */

.services-section {
  background-color: #F1F1F1;
}

.services-section .services-header {
  border: 0;
  padding-bottom: 40px;
}

.services-section .services-body {
  padding-bottom: 60px;
}

/* Recent Work Section */

.recent-work-section .recent-work-header {
  border: 0;
  padding-bottom: 40px;
}

.recent-work-section .recent-work-example {
  color: #D22341;
}

.recent-work-section .recent-work-description {
  font-size: 1.3em;
}

.grey-border-bottom {
  border-style: none none dotted none;
  border-color: #d4d4d4;
  border-width: 1px;
  padding: 20px 0;
}

/* Media Queries */

@media screen and ( max-width: 480px ) {
  .multunus-video-header {
    font-size: 2em;
    margin: 0;
  }
}

@media screen and ( min-width: 480px ) {
  .multunus-video-header {
    font-size: 4em;
  }
}

@media screen and ( max-width: 992px ) {
  .recent-work-section .recent-work-body {
    text-align: center;
  }
}

@media screen and ( min-width: 992px ) {

  .big-picture-section .big-picture-column {
    position: relative;
    height: 376px;
    width: 33%;
  }

  .big-picture-section .big-picture-title h2 {
    text-align: right;
    position: absolute;
    top: 33%;
    left: 65%;
  }

  .big-picture-section .big-picture-text div {
    position: absolute;
    top: 35%;
  }

}